body {
  background-color: rgb(8, 8, 8);
  color: white;
  margin: 0;
  font-family: Roboto, Arial;
  font-size: 16px;
  line-height: 1.6;
  padding-top: 80px;
}

h1 {
  line-height: normal;
}

a {
  text-decoration: none;
  color: rgb(255, 221, 157);
}

@media ((min-width: 350px) and (max-width: 576px)) {
  body {
    padding-top: 60px;
    font-size: 12px;
  }

}