.header {
  background-color: rgb(8, 8, 8);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.nav-links {
  /* width: 500px; */
  flex: 1;
  background-color: black;
  border-radius: 20px;
  padding: 8px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 0 40px;
}

.nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(255, 221, 157);
  text-decoration: none;
  padding-left: 10px;
}

.nav-links a img {
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.nav-links a:hover {
  color: rgb(250, 186, 68);
}