.header {
  background-color: rgb(8, 8, 8);
  height: 80px;
  display: grid;
  grid-template-columns: 80px 1fr;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.mfe-home-link {
  margin: 0 20px;
}

.mfe-logo {
  height: 20px;
}

.nav-links {
  /* flex: 1; */
  background-color: black;
  border-radius: 20px;
  margin: 0 260px;
  max-width: 660px;
  padding: 8px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 0 40px;
}

.nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(255, 221, 157);
  text-decoration: none;
  padding-left: 10px;
  text-wrap: nowrap;
}

.nav-links a img {
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.nav-links a:hover {
  color: rgb(250, 186, 68);
}

@media ((min-width: 350px) and (max-width: 576px)) {
  .header {
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }

  .mfe-home-link {
    margin: 0 10px;
  }
  
  .mfe-logo {
    height: 16px;
  }

  .nav-links {
    margin: 0 10px;
  }

  .nav-links li {
    margin: 0 14px;
  }

  .nav-links a {
    font-size: 1em;
  }

  .nav-links a img {
    height: 20px;
    border-radius: 50%;
    margin-right: 6px;
  }

}