.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(49, 49, 49);
  margin: 0 100px;
}

.hero-section img {
  padding-top: 20px;
  height: 120px;
  object-fit: cover;
}

.hero-text {
  font-size: 5em;
  text-align: center;
  margin: 20px 0 40px;
}

.about-section {
  margin: 0 auto;
  padding: 80px 200px 40px;
  text-align: center;
  font-size: 1rem;
}

.about-section h2 {
  margin: 0;
}

.about-section p {
  padding-top: 10px;
}

.about-section a:hover, .important-section a:hover {
  text-decoration: underline;
}

.important-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.important-section p {
  text-align: center;
  margin: 0 200px;
}

.encryption-op-section {
  background-color: rgb(12, 12, 13);
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.encryption-links {
  /* background-color: rgb(4, 4, 6); */
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 40px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.encryption-links li {
  margin: 0 30px;
  border-radius: 10px;
  background-color: rgb(4, 4, 6);
  /* border: 1px solid rgb(85, 85, 85); */
  border: 1px solid rgb(58, 58, 58);
}

.encryption-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(255, 221, 157);
  text-decoration: none;
  text-wrap: nowrap;
  padding: 10px;
}

.encryption-links a img {
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.encryption-links a:hover {
  color: rgb(250, 186, 68);
}

.form-section input {
  margin-top: 10px;
  margin-bottom: 20px;
}

.selected-file {
  padding: 12px 10px;
  background-color: rgb(0, 80, 80);
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.text-input {
  margin-top: 10px;
  width: 400px;
  height: 140px;
  border-radius: 4px;
  font-size: 1rem;
  padding: 10px;
}

.encryption-key,
.encryption-key2, .feo {
  padding: 10px 20px;
  width: 280px;
  min-width: 100px;
  font-size: 1em;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 4px;
}

.feo-section {
  margin: 10px 0;
}

.feo-section-header {
  margin-bottom: 10px;
}

.feo {
  cursor: pointer;
  font-weight: 600;
}

.encrypt-button,
.decrypt-button {
  /* background-color: rgb(255, 221, 157); */
  background: linear-gradient(to bottom, rgb(255, 221, 157), rgb(252, 181, 50));
  color: black;
  font-weight: 800;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
  padding: 14px 30px;
  font-size: 1rem;
  cursor: pointer;
}

.encrypt-button:hover,
.decrypt-button:hover {
  background: linear-gradient(to bottom, rgb(247, 191, 89), rgb(228, 153, 13));
}

.download-section {
  background-color: rgb(8, 8, 8);
  margin: 0 auto;
  padding: 2px;
  text-align: center;
}

.download-section p {
  margin-top: 10px;
}

.download-link {
  padding: 20px 0;
}

.text-result-div {
  margin: 30px 0;
}

.text-result {
  text-align: center;
  word-wrap: break-word;
  font-size: 0.8rem;
  padding: 20px 200px;
}

.filename {
  text-align: center;
  word-wrap: break-word;
  font-size: 0.8em;
  padding: 0 200px;
}

.text-result-div a img {
  height: 40px;
  border-radius: 50%;
}

.download-link a {
  padding: 10px 20px;
  background-color: rgb(0, 95, 8);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

.error-message {
  background-color: rgb(20, 20, 20);
  color: rgb(216, 0, 0);
  padding: 10px;
  text-align: center;
}

.guide-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.guide-section h3 {
  margin: 10px 0;
}

.guide-section p {
  margin-right: 160px;
  margin-left: 160px;
}

@media (min-width: 320px) and (max-width: 380px) {
  .hero-text {
    font-size: 2.3em;
    margin: 12px 0 20px;
  }

  .hero-section {
    margin: 0 10px;
  }

  .hero-section img {
    height: 60px;
    padding-top: 20px;
  }

  .about-section {
    font-size: 1em;
    padding: 20px ;
    margin: 0;
  }
  
  .important-section {
    margin: 0;
  }

  .guide-section p, .important-section p {
    font-size: 1em;
    padding: 10px 20px 20px;
    margin: 0;
  }

  .encryption-op-section {
    margin: 0;
    padding: 0;
  }

  .encryption-links {
    grid-template-columns: 1fr 1fr;
    font-size: 0.7em;
    padding: 0;
    margin-bottom: 30px;
  }

  .encryption-links a img {
    height: 20px;
    margin-right: 6px;
  }

  .selected-file, .encryption-key, .encryption-key2, .feo {
    width: 190px;
    font-size: 0.8em;
    margin: 0;
    padding: 8px;
  }

  .form-section, .feo p {
    font-size: 0.8em;
  }

  .form-section input {
    margin: 10px;
  }

  .encryption-links li {
    margin: 4px;
  }

  .encrypt-button, .decrypt-button {
    font-size: 1em;
    padding: 8px 14px;
    margin: 10px 0;
  }
}

@media (min-width: 381px) and (max-width: 570px) {
  .hero-section {
    margin: 0 20px;
    padding-top: 20px;
  }

  .hero-section img {
    height: 60px;
    padding-top: 0px;
  }

  .hero-text {
    font-size: 2.5em;
    margin: 10px 0 20px;
  }

  .about-section {
    padding: 20px 40px;
    font-size: 1em;
  }

  .important-section h3 {
    margin-top: 0;
  }

  .important-section {
    margin: 20px 0;
    padding: 0 40px;
  }

  .important-section p {
    margin: 0;
  }

  .encryption-op-section {
    padding: 10px 0;
    font-size: 1em;
  }
  
  .encryption-links {
    padding: 12px;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    margin-bottom: 0px;
  }
  
  .encryption-links li {
    margin: 0 14px;
  }
  
  .encryption-links a img {
    height: 20px;
    margin-right: 6px;
  }

  .form-section {
    font-size: 1em;
    padding: 30px 0;
  }

  .form-section input {
    margin-top: 6px;
    margin-bottom: 12px;
  }

  .selected-file {
    width: 180px;
    padding: 10px;
    background-color: rgb(0, 80, 80);
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
  }

  .text-input {
    width: 240px;
    height: 100px;
    font-size: 1em;
  }

  .encryption-key, .encryption-key2, .feo {
    width: 160px;
    padding: 10px 14px;
    font-size: 1em;
    border-radius: 4px;
  }

  .feo {
    width: 190px;
  }

  .encrypt-button,
  .decrypt-button {
    margin-top: 20px;
    font-size: 1em;
    padding: 10px 20px;
  }

  .download-section {
    font-size: 1em;
  }

  .text-result {
    font-size: 0.8em;
    padding: 10px 40px 0 40px;
  }

  .filename {
    font-size: 0.8em;
    padding: 0 40px;
  }
  
  .text-result-div a img {
    height: 30px;
  }

  .guide-section {
    text-align: center;
  }

  .guide-section p {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: 571px) and (max-width: 999px) {
  .hero-section {
    margin: 0 50px;
  }

  .hero-section img {
    height: 110px;
  }

  .hero-text {
    font-size: 3em;
    margin: 20px 0 30px;
  }

  .about-section {
    padding: 60px 80px 20px;
  }

  .important-section p {
    margin: 0 80px;
  }

  .encryption-op-section {
    padding: 20px 0 30px 0;
    font-size: 1em;
  }
  
  .encryption-links {
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 30px;
    margin-bottom: 30px;
  }
  
  .encryption-links li {
    margin: 0 14px;
  }
  
  .encryption-links a img {
    margin-right: 12px;
  }

  .text-result {
    padding: 20px 100px 10px 100px;
  }

  .filename {
    padding: 0 100px;
  }

  .guide-section p {
    margin-left: 80px;
    margin-right: 80px;
  }

  h2 {
    font-size: 1.5em;
  }
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .hero-section img {
    padding-top: 40px;
    height: 140px;
  }

  .hero-text {
    padding: 20px 0 30px;
  }

  h2 {
    font-size: 2em;
  }

  .hero-text {
    font-size: 4em;
  }

}

@media (min-width: 1401px) and (max-width: 1800px) {
  .hero-section img {
    padding-top: 50px;
    height: 210px;
  }

  .hero-text {
    padding: 40px 0 50px;
    font-size: 4.5em;
  }

  .about-section, .important-section, .encryption-op-section, .encrypt-button,
  .decrypt-button, .encryption-links, .encryption-key, .encryption-key2, .selected-file,
  .text-input {
    font-size: 1em;
  }

  .selected-file, .encryption-key, .encryption-key2, .feo {
    padding: 16px;
    width: 350px;
  }

}

@media (min-width: 1801px) {
  .hero-section {
    margin: 0 180px;
  }

  .hero-section img {
    height: 300px;
    padding-top: 80px;
  }

  .hero-text {
    font-size: 4em;
    padding: 60px 0 80px;
  }

  .about-section {
    padding: 120px 240px;
    font-size: 1em;
  }

  .important-section p {
    margin: 0 240px;
  }

  .encryption-op-section {
    font-size: 1em;
  }
  
  .encryption-links {
    padding: 40px;
    column-gap: 20px;
  }
  
  .encryption-links li {
    margin: 0 20px;
    padding: 28px;
  }
  
  .encryption-links a img {
    height: 60px;
    margin-right: 20px;
  }

  .form-section {
    font-size: 1em;
    padding: 60px 0;
  }

  .form-section input {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .selected-file {
    padding: 30px;
    font-size: 1em;
  }

  .text-input {
    font-size: 1em;
    width: 800px;
    height: 240px;
  }

  .encryption-key, .encryption-key2, .feo {
    padding: 30px;
    width: 500px;
    min-width: 300px;
    font-size: 1em;
  }

  .encrypt-button,
  .decrypt-button {
    margin-top: 60px;
    padding: 30px 80px;
    font-size: 1.2em;
  }

  .guide-section p {
    margin: 40px 240px;
  }
}