.sidebar {
   background-color: rgb(17, 17, 18);
   position: fixed;
   height: 100vh;
   top: 0;
   bottom: 0;
   z-index: 2000;
   border-right: 2px solid rgb(255, 221, 157);
   display: none;
}

.cancel-icon {
   margin: 20px 20px 0 280px;
   height: 16px;
   padding: 10px;
   border-radius: 4px;
   cursor: pointer;
}

.cancel-icon:hover {
   background-color: black;
 }

.sidebar-links {
   list-style: none;
   padding: 4px 50px 20px 50px;
   margin-bottom: 20px;
}

.sidebar-links li {
   border-radius: 6px;
   cursor: pointer;
   border-bottom: 1px solid rgb(58, 58, 58);
}

.sidebar-links li:hover {
   background-color: rgb(32, 32, 32);
   color: rgb(250, 186, 68);
}

.sidebar-links a {
   display: block;
   padding: 20px 20px 4px;
}

.signin-button {
   background: linear-gradient(to bottom, rgb(255, 186, 59), rgb(129, 84, 0));
   color: white;
   border: none;
   border-radius: 4px;
   padding: 16px 60px;
   font-size: 1rem;
   font-weight: 700;
   margin-left: 70px;
   cursor: pointer;
}

.signin-button:hover {
   background: rgb(255, 195, 84);
   color: black;
}

@media (min-width: 320px) and (max-width: 570px) {
   .sidebar {
      border-right: 1px solid rgb(255, 221, 157);
   }

   .menu-icon-div {
      margin: 10px;
   }

   .menu-icon-div img {
      height: 12px;
   }

   .cancel-icon {
      margin: 10px 10px 0 180px;
      height: 12px;
   }
   
   .sidebar-links {
      padding: 0 10px 20px;
   }

   .sidebar-links a {
      padding: 18px 14px 4px;
   }

   .signin-button {
      font-size: 1em;
      margin-left: 40px;
      padding: 14px 50px;
   }
}

@media (min-width: 1401px) and (max-width: 1800px) {
   .cancel-icon {
      margin-top: 40px;
      height: 16px;
   }

   .sidebar-links {
      margin-bottom: 40px;
   }

   .signin-button {
      font-size: 1em;
      padding: 24px 80px;
   }

   .sidebar-links a {
      padding: 30px 24px 10px;
   }
 
 }

@media (min-width: 1801px) {
   .menu-icon-div img {
      height: 36px;
      padding: 40px;
   }

   .sidebar-links {
      list-style: none;
      padding: 40px 100px 20px 100px;
      margin-bottom: 60px;
   }

   .sidebar-links li {
      padding: 20px 60px;
      border-bottom: 2px solid rgb(58, 58, 58);;
   }

   .cancel-icon {
      padding: 20px;
      height: 36px;
      margin: 100px 20px 0 550px;
   }

   .signin-button {
      font-size: 1em;
      padding: 40px 140px;
      margin-left: 140px;
      margin-top: 20px;
   }
}