<!DOCTYPE html>
<html lang="en">

<head>
   <title>MasterFile Encryptor - Sign in</title>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="description" content="Easy and Secure file encryption tool you can trust. Try it out for free." />
   <meta name="keywords"
      content="file encryption, file encryptor, file decryption, file decryptor, encryption, decryption, encrypt, decrypt" />
   <meta name="author" content="themaestrocode" />
   <!-- <meta > -->
   <link rel="preconnect" href="https://fonts.googleapis.com" />
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap" rel="stylesheet" />
   <link rel="stylesheet" href="../view/css/general.css" />
   <!-- <link rel="stylesheet" href="css/index.css" /> -->
   <link rel="stylesheet" href="../view/css/footer.css" />
   <link rel="stylesheet" href="../view/css/sidebar.css" />
   <link rel="stylesheet" href="../view/css/signin.css" />
   <!-- themes CSS -->
   <link rel="stylesheet" href="../view/css/themes/th-sidebar.css">
   <link rel="stylesheet" href="../view/css/themes/th-main.css">
</head>

<body>
<div class="content">
   <!-- MAIN SECTION -->
   <main>
      <div class="top">
         <a class="home-link" href="../view/index.html"><img src="../view/icons/mfe.svg" /></a>
      </div>
      <div class="signin-section js-signin-section">
         <div class="signin-icon"><img src="../view/icons/signin.svg"></div>
         <div class="signin-form-section js-signin-form-section">
            <!-- <form class="signin-form js-signin-form">
               <label for="email">Email</label><br>
               <input id="email" class="email js-email" type="email" placeholder="Enter your email address"><br>

               <label for="password">Password</label><br>
               <input id="password" class="password js-password" type="password" placeholder="Provide a strong password"><br>

               <label for="confirm-password">Confirm password</label><br>
               <input id="confirm-password" class="confirm-password js-confirm-password" type="password" placeholder="Enter the password again"><br>

               <button class="signup-button js-signup-button" type="submit">Sign up</button>
            </form>
            <div class="login-instead">
               <p>Already have an account? <a>Login</a></p>
            </div> -->
         </div>

      </div>
   </main>

   <!-- FOOTER SECTION -->
   <footer>
      <div class="footer-declarations">
         <p>MasterFile Encryptor © 2024.</p>
         <p>All Rights Reserved.</p>
      </div>
   </footer>
</div>

   <!-- javascript attachments -->
   <script type="module" src="../controller/singin.js"></script>
</body>

</html>