body {
  background-color: rgb(15, 15, 15);
  color: white;
  margin: 0;
  font-family: Roboto, Arial;
  font-size: 16px;
  line-height: 1.6;
  padding-top: 80px;
  position: relative;
}

h1 {
  line-height: normal;
}

a {
  text-decoration: none;
  color: rgb(255, 221, 157);
}

@media (min-width: 320px) and (max-width: 570px) {
  body {
    padding-top: 50px;
    font-size: 12px;
  }

}

@media (min-width: 571px) and (max-width: 820px) {
  body {
    
  }
}

@media (min-width: 1401px) {
  body {
    font-size: 24px;
    padding-top: 160px;
  }
}