.header {
  background-color: rgb(15, 15, 15);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 2px solid rgb(255, 221, 157);
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.menu-icon {
  height: 18px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 10px;
  border-radius: 4px;
}

.home-link img {
  height: 18px;
}

.menu-icon:hover, .home-link:hover {
  background-color: black;
}

.nav-links {
  padding: 8px 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 221, 157);
  text-decoration: none;
  text-wrap: nowrap;
  border-radius: 4px;
  padding: 10px 20px;
}

.nav-links a:hover {
  color: rgb(250, 186, 68);
  background-color: black;
}

@media (min-width: 320px) and (max-width: 570px) {
  .header {
    height: 50px;
    grid-template-columns: 30px 1fr;
    border-bottom: 1px solid rgb(255, 221, 157);
  }

  .left {
    margin: 0 8px;
  }
  
  .menu-icon {
    height: 10px;
    margin: 0;
    padding: 6px;
  }
  
  .home-link {
    margin: 0 6px;
    padding: 6px;
  }
  
  .home-link img {
    height: 10px;
  }

  .nav-links {
    margin: 0;
    padding: 0;
  }

  .right {
    padding-right: 14px;
  }

  .nav-links a {
    padding: 6px 12px;
    margin: 0;
    font-size: 0.8em;
  }
}

@media (min-width: 571px) and (max-width: 820px) {

}

@media (min-width: 821px) and (max-width: 1100px) {
  
}

@media (min-width: 1101px) and (max-width: 1400px) {
  
}

@media (min-width: 1401px) and (max-width: 1800px) {
  /* .header {
    height: 80px;
  } */
}

@media (min-width: 1801px) {
  .header {
    height: 160px;
    border-bottom: 4px solid rgb(255, 221, 157);
  }

  .left {
    margin: 0 40px;
  }
  
  .menu-icon {
    height: 40px;
    margin: 0;
    padding: 30px;
  }
  
  .home-link {
    margin: 0 6px;
    padding: 30px;
    margin-left: 20px;
  }
  
  .home-link img {
    height: 40px;
  }

  .nav-links {
    padding: 40px;
  }

  .right {
    padding-right: 14px;
  }

  .nav-links a {
    padding: 20px 30px;
  }
}