.hero-section {
  position: relative;
}

.hero-section img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  /* position: relative; */
}

.hero-text {
  /* background-color: aqua; */
  position: absolute;
  font-size: 5rem;
  text-align: center;
  margin: 0;
  left: 10%;
  top: 40%;
  right: 10%;
}

.about-section {
  margin: 0 auto;
  padding: 40px 200px;
  /* max-width: 60%; */
  text-align: center;
  font-size: 1rem;
}

.about-section h2 {
  margin: 0;
}

.about-section p {
  padding-top: 10px;
}

.important-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.important-section p {
  text-align: center;
  margin: 0 200px;
}

.form-section {
  background-color: rgb(10, 10, 10);
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  font-size: 1rem;
}

.form-section input {
  margin-top: 10px;
  margin-bottom: 20px;
}

.selected-file {
  padding: 12px 10px;
  background-color: rgb(0, 80, 80);
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.plain-text {
  width: 300px;
  height: 100px;
  border-radius: 4px;
  font-size: 1rem;
  text-wrap: wrap;
  align-items: flex-start;
  padding: 10px;
  justify-content: first baseline;
}

.encryption-key,
.encryption-key2 {
  padding: 10px 20px;
  width: 280px;
  min-width: 100px;
  font-size: 1rem;
  border-radius: 4px;
}

.encrypt-button,
.decrypt-button {
  /* background-color: rgb(255, 221, 157); */
  background: linear-gradient(to bottom, rgb(255, 221, 157), rgb(252, 181, 50));
  color: black;
  font-weight: 800;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
  padding: 14px 30px;
  font-size: 1rem;
  cursor: pointer;
}

.encrypt-button:hover,
.decrypt-button:hover {
  background: linear-gradient(to bottom, rgb(247, 191, 89), rgb(228, 153, 13));
}

.download-section {
  background-color: rgb(8, 8, 8);
  margin: 0 auto;
  padding: 2px;
  text-align: center;
}

.download-section p {
  margin-top: 10px;
}

.download-link {
  padding: 20px 0;
}

.download-link a {
  padding: 10px 20px;
  background-color: rgb(0, 95, 8);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

.password-error-message {
  background-color: rgb(20, 20, 20);
  color: rgb(216, 0, 0);
  padding: 10px;
  text-align: center;
}

.guide-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.guide-section h3 {
  margin: 0;
}

.guide-section p {
  margin-right: 160px;
  margin-left: 160px;
}

.share-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-icons li {
  margin: 0 20px;
}

.social-icons img {
  height: 30px;
  border-radius: 50%;
}

.social-icons img:hover {
  height: 36px;
}

/* @media (min-width: 300px) and (max-width: 359px) {
  .hero-text {
    font-size: 1.8rem;
  }
} */

@media (min-width: 320px) and (max-width: 570px) {
  .hero-section img {
    height: 200px;
  }

  .hero-text {
    font-size: 2rem;
    left: 8%;
    right: 8%;
    top: 40%;
  }

  .about-section {
    padding: 6px 40px;
    font-size: 1em;
  }

  .important-section h3 {
    margin-top: 0;
  }

  .important-section {
    margin: 20px 0;
    padding: 0 40px;
  }

  .important-section p {
    margin: 0;
  }

  .form-section {
    font-size: 1em;
    padding: 30px 0;
  }

  .form-section input {
    margin-top: 6px;
    margin-bottom: 12px;
  }

  .selected-file {
    width: 180px;
    padding: 10px;
    background-color: rgb(0, 80, 80);
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
  }

  .encryption-key,
  .encryption-key2 {
    width: 160px;
    padding: 10px 14px;
    font-size: 1em;
    border-radius: 4px;
  }

  .encrypt-button,
  .decrypt-button {
    margin-top: 20px;
    font-size: 1em;
    padding: 10px 20px;
  }

  .download-section {
    font-size: 1em;
  }

  .guide-section {
    text-align: center;
  }

  .guide-section p {
    margin-left: 40px;
    margin-right: 40px;
  }

  .social-icons li {
    margin: 0 14px;
  }

  .social-icons img {
    height: 20px;
    border-radius: 50%;
  }

  .social-icons img:hover {
    height: 24px;
  }
}

@media (min-width: 571px) and (max-width: 999px) {
  .hero-section img {
    height: 300px;
  }

  .hero-text {
    font-size: 3.5rem;
    left: 8%;
    right: 8%;
    top: 30%;
  }

  .about-section {
    padding: 6px 100px;
  }

  .important-section p {
    margin: 0 100px;
  }

  .guide-section p {
    margin-left: 100px;
    margin-right: 100px;
  }

  h2 {
    font-size: 1.5em;
  }
}

@media (min-width: 1000px) and (max-width: 1400px) {
  h2 {
    font-size: 2em;
  }

  .hero-text {
    font-size: 4em;
  }

}

@media (min-width: 1401px) {
  .hero-section img {
    height: 800px;
  }

  .hero-text {
    font-size: 7em;
  }

  .about-section {
    padding: 40px 500px;
    font-size: 1em;
  }

  .important-section p {
    margin: 0 500px;
  }

  .form-section {
    font-size: 1em;
    padding: 80px 0;
  }

  .selected-file {
    padding: 20px;
    font-size: 1em;
  }

  .encryption-key,
  .encryption-key2 {
    padding: 20px;
    width: 480px;
    min-width: 300px;
    font-size: 1em;
    border-radius: 4px;
  }

  .encrypt-button,
  .decrypt-button {
    margin-top: 40px;
    padding: 20px 60px;
    font-size: 1.2em;
  }

  .guide-section p {
    margin: 40px 500px;
  }

  .social-icons img {
    height: 60px;
  }

  .social-icons img:hover {
    height: 70px;
  }

  .social-icons li {
    margin: 20px 60px;
  }
}