.sidebar {
   background-color: rgb(15, 15, 15);
   position: fixed;
   height: 100vh;
   top: 0;
   bottom: 0;
   z-index: 2000;
   border-right: 2px solid rgb(255, 221, 157);
   display: none;
}

.light-theme-sidebar {
   background-color: white;
   color: rgb(58, 58, 58);
}

.light-theme-sidebar.sidebar {
   box-shadow: 1px 8px 10px rgb(58, 58, 58);
   border: none;
}

.light-theme-sidebar .cancel-icon {
   background-color: rgb(245, 245, 245);
}

.light-theme-sidebar .cancel-icon:hover {
   background-color: rgb(58, 58, 58);
}

.light-theme-sidebar .sidebar-links li {
   border-bottom: 1px solid rgb(220, 220, 220);
}

.light-theme-sidebar .sidebar-links li:hover {
   background-color: rgb(58, 58, 58);
   color: rgb(255, 221, 157);
}

.light-theme-sidebar .sidebar-links a {
   color: rgb(185, 123, 7);
   font-weight: 600;
}

.light-theme-sidebar .sidebar-links a:hover {
   color: rgb(250, 186, 68);
}

.light-theme-sidebar .signin-button {
   /* background: linear-gradient(to bottom, rgb(255, 209, 125), rgb(167, 108, 0)); */
   background: rgb(58, 58, 58);
   color: whitesmoke;
}

.light-theme-sidebar .signin-button:hover {
   color: rgb(58, 58, 58);
   background: rgb(255, 213, 136);
}

.cancel-icon {
   margin: 20px 20px 0 280px;
   height: 16px;
   padding: 10px;
   border-radius: 4px;
   cursor: pointer;
}

.cancel-icon:hover {
   background-color: black;
 }

.sidebar-links {
   list-style: none;
   padding: 4px 50px 20px 50px;
   margin: 0;
}

.sidebar-links li {
   border-radius: 6px;
   cursor: pointer;
   border-bottom: 1px solid rgb(58, 58, 58);
}

.sidebar-links li:hover {
   background-color: black;
   color: rgb(250, 186, 68);
}

.sidebar-links a {
   display: block;
   padding: 10px 20px;
}

.signin-button {
   background: linear-gradient(to bottom, rgb(255, 221, 157), rgb(252, 181, 50));
   border: none;
   border-radius: 4px;
   padding: 16px 60px;
   font-size: 1rem;
   font-weight: 700;
   margin-left: 70px;
   cursor: pointer;
}

.signin-button:hover {
   background: linear-gradient(to bottom, rgb(247, 191, 89), rgb(228, 153, 13));
}

@media (min-width: 320px) and (max-width: 570px) {
   .sidebar {
      border-right: 1px solid rgb(255, 221, 157);
   }

   .menu-icon-div {
      margin: 10px;
   }

   .menu-icon-div img {
      height: 12px;
   }

   .cancel-icon {
      margin: 10px 10px 0 180px;
      height: 12px;
   }
   
   .sidebar-links {
      padding: 0 10px 20px 10px;
   }

   .sidebar-links a {
      padding: 10px 20px;
   }

   .signin-button {
      font-size: 1em;
      margin-left: 40px;
      padding: 14px 50px;
   }
}

@media (min-width: 1401px) and (max-width: 1800px) {
   .cancel-icon {
      margin-top: 40px;
      height: 16px;
   }

   .signin-button {
      font-size: 1em;
   }
 
 }

@media (min-width: 1801px) {
   .menu-icon-div img {
      height: 36px;
      padding: 40px;
   }

   .sidebar-links {
      list-style: none;
      padding: 40px 100px 20px 100px;
   }

   .sidebar-links li {
      padding: 20px 60px;
      border-bottom: 2px solid rgb(58, 58, 58);;
   }

   .light-theme-sidebar .sidebar-links li {
      border-bottom: 2px solid rgb(220, 220, 220);
   }

   .cancel-icon {
      padding: 20px;
      height: 36px;
      margin: 100px 20px 0 550px;
   }

   .signin-button {
      font-size: 1em;
      padding: 30px 120px;
      margin-left: 140px;
      margin-top: 20px;
   }
}