.sidebar {
   background-color: rgb(15, 15, 15);
   position: fixed;
   top: 80px;
   bottom: 0;
   z-index: 300;
   border-right: 2px solid rgb(255, 221, 157);
   display: none;
}

.menu-icon-div {
   position: fixed;
   margin: 20px 0 0 20px;
   z-index: 100;
}

.menu-icon-div img {
   height: 18px;
   padding: 10px;
   border-radius: 4px;
   cursor: pointer;
}

.menu-icon-div img:hover, .cancel-icon:hover {
   background-color: black;
}

.cancel-icon {
   margin: 20px 20px 0 280px;
   height: 16px;
   padding: 10px;
   border-radius: 4px;
   cursor: pointer;
}

.sidebar-links {
   list-style: none;
   padding: 4px 50px 20px 50px;
   margin: 0;
}

.sidebar-links li {
   padding: 10px 20px;
   border-radius: 8px;
   cursor: pointer;
}

.sidebar-links li:hover {
   background-color: rgb(30, 30, 30);
   color: rgb(250, 186, 68);
}

.sidebar-links li a:hover {
   color: rgb(250, 186, 68);
}

.signin-button {
   background: linear-gradient(to bottom, rgb(255, 221, 157), rgb(252, 181, 50));
   border: none;
   border-radius: 8px;
   padding: 16px 60px;
   font-size: 1rem;
   font-weight: 700;
   margin-left: 70px;
   cursor: pointer;
}

.signin-button:hover {
   /* background-color: rgb(250, 186, 68); */
   background: linear-gradient(to bottom, rgb(247, 191, 89), rgb(228, 153, 13));
}

@media (min-width: 320px) and (max-width: 549px) {
   .sidebar {
      top: 50px;
      border-right: 1px solid rgb(255, 221, 157);
   }

   .menu-icon-div {
      margin: 10px;
   }

   .menu-icon-div img {
      height: 12px;
   }

   .cancel-icon {
      margin: 10px 10px 0 180px;
      height: 12px;
   }
   
   .sidebar-links {
      padding: 2px 20px 10px 20px;
   }
   
   .sidebar-links li {
      padding: 12px 14px;
   }

   .signin-button {
      font-size: 1em;
      margin-left: 30px;
      padding: 14px 50px;
   }
}

@media (min-width: 1401px) and (max-width: 1800px) {
   .cancel-icon {
      margin-top: 40px;
      height: 16px;
   }
 
 }

@media (min-width: 1801px) {
   .menu-icon-div img {
      height: 36px;
      padding: 40px;
   }

   .sidebar-links {
      list-style: none;
      padding: 40px 100px 20px 100px;
   }

   .sidebar-links li {
      padding: 20px 60px;
   }

   .cancel-icon {
      padding: 20px;
      height: 36px;
      margin: 100px 20px 0 550px;
   }

   .signin-button {
      font-size: 1em;
      padding: 30px 120px;
      margin-left: 140px;
      margin-top: 20px;
   }
}