.header {
  background-color: rgb(15, 15, 15);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 2px solid rgb(255, 221, 157);
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 20px;
}

.menu-icon {
  height: 18px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 10px;
  border-radius: 4px;
}

.home-link img {
  height: 18px;
}

.menu-icon:hover, .home-link:hover, .switch-theme:hover {
  background-color: black;
}

.mid {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 221, 157);
  text-decoration: none;
  text-wrap: nowrap;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
  margin-left: 10px;
  color: rgb(255, 221, 157);
}

.nav-links a:hover {
  color: rgb(250, 186, 68);
  background-color: black;
}

.switch-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 24px;
  margin: 0 30px 0 20px;
  border-radius: 4px;
  cursor: pointer;
}

.switch-theme img {
  height: 30px;
  border-radius: 50%;
}

@media (min-width: 320px) and (max-width: 380px) {
  .header {
    height: 50px;
  }

  .left {
    padding-left: 10px;
  }

  .menu-icon {
    height: 10px;
    margin: 0;
    padding: 6px;
  }
  
  .home-link {
    margin: 0 6px;
    padding: 6px;
  }
  
  .home-link img {
    height: 10px;
  }

  .mid {
    display: none;
  }

  .switch-theme {
    margin: 0 10px 0 0;
    padding: 0;
  }

  .switch-theme img {
    height: 20px;
    padding: 4px 10px;
  }
}

@media (min-width: 381px) and (max-width: 570px) {
  .header {
    height: 50px;
  }

  .left {
    padding-left: 14px;
  }
  
  .menu-icon {
    height: 10px;
    margin: 0;
    padding: 6px;
  }
  
  .home-link {
    margin: 0 6px;
    padding: 6px;
  }
  
  .home-link img {
    height: 10px;
  }

  .nav-links {
    margin: 0;
    padding: 0;
  }

  .nav-links a {
    padding: 4px 8px;
    margin: 2px;
    font-size: 0.8em;
  }

  .switch-theme {
    margin: 0 10px 0 4px;
    padding: 6px 14px;
  }

  .switch-theme img {
    height: 18px;
  }
}

@media (min-width: 1801px) {
  .header {
    height: 160px;
  }

  .left {
    padding-left: 70px;
  }
  
  .menu-icon {
    height: 40px;
    margin: 0;
    padding: 30px;
    border-radius: 10px;
  }
  
  .home-link {
    margin: 0 6px;
    padding: 30px;
    margin-left: 20px;
    border-radius: 10px;
  }
  
  .home-link img {
    height: 40px;
  }

  .nav-links a {
    padding: 18px 30px;
    margin: 0 16px 0 0;
    border-radius: 10px;
  }

  .switch-theme {
    padding: 20px 60px;
    border-radius: 10px;
  }

  .switch-theme img {
    height: 60px;
  }
}